- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript"}

    %style{:media => "all", :type => "text/css"}


  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
  .logo
  .menu-container
    %ul.menu
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} PRODUCTS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} SALON
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} FAQ
        .menu-hl
      %li
        %a{:href => "#", :id => "main-6-link"} CONTACT
        .menu-hl
      %li
        %a{:href => "#", :id => "main-8-link"} DISTRIBUTORS
        .menu-hl{:style => "margin-left:-8px;"}
  .content-container#page1
    #page-1-content-bg
    #page-1-content
      .page-title Home
      %ul.submenu
        %li.white#page1-sub1
          %a{:href => "#"} About us
        %li.yellow#page1-sub2
          %a{:href => "#"} Hair Boutique
        %li.red#page1-sub3
          %a{:href => "#"} Hair Salon
      .content-type-1#page1-sub1-page
        .content-type-1-part-1
          %h1 About us
          .gallery
            %a{:href => "/images/pic/place/1_big.jpg", :rel => "lightbox"}
              %image{:width => "450px", :height => "100px", :src => "/images/pic/place/1.jpg"}
          %h2 Dedicated to beauty
          %p Creme de-la Creme Hair is an upscale hair boutique that was established to offer only the very best in exotic human hair extensions to customers around the world that want and deserve the very best hair that money can buy. We import the most lustrous, pure, 100% cuticle, virgin remy hair directly from India, Brazil, Malaysia and Europe for re-sell in the United States.
          %p Creme de la Creme Hair has gained a reputation for a superior product and when you use our hair you will immediately recognize the difference. So rest assured that when you make a purchase from Creme de la Creme Hair you are getting the best hair that money can buy. For the most elite hair on the market… Creme de la Creme Hair!
          %h2 Why Creme de la Creme Hair?
          %ul{:style => "color:white;"}
            %li Hair blends flawlessly with all hair types
            %li Hair is tangle free and sheds less
            %li Hair can be colored, relaxed, and permed
            %li Virgin Hair (no chemicals)
            %li Hair can be used in multiple installs and lasts up to a year
            %li Hair curls when wet
      .content-type-1#page1-sub2-page
        .content-type-1-part-1
          %h1 Hair Boutique
          .gallery
            %a{:href => "/images/pic/place/2_big.jpg", :rel => "lightbox"}
              %image{:width => "450px", :height => "100px", :src => "/images/pic/place/2.jpg"}
          %h2 Dedicated to beauty
          %p Creme de-la Creme Hair is an upscale hair boutique located in the Galleria Area in Houston, Texas. Our hair boutique was established to offer only the very best in exotic human hair extensions to customers around the world that want and deserve the very best hair that money can buy. We import the most lustrous, pure, 100% cuticle, virgin remy hair directly from India, Brazil, and Russia for re-sell in the United States.
          %p Creme de-la Creme Hair customers come from all walks of life. Some are models, housewives, single moms, cancer survivors, business women, college students, singers, and actors. Additionally, our customers are of all ethnicities. We also supply hair to professional hair stylists and salons all over the country. Our clients are very satisfied with our product and services, and we are sure that you will be as well.
          %p Our goal is to ensure that you are 100% satisfied with the excellent quality hair at unbeatable prices along with outstanding customer service. We value your business and look forward to establishing a long lasting relationship. For the most elite hair on the market……….Creme de-la Creme Hair!
      .content-type-1#page1-sub3-page
        .content-type-1-part-1
          %h1 Are you ready to spoil your alter ego?
          .gallery
            %a{:href => "/images/pic/place/3_big.jpg", :rel => "lightbox"}
              %image{:width => "450px", :height => "100px", :src => "/images/pic/place/3.jpg"}
          %p Prepare to make your friends jealous with your new traffic stopping style. Our salon combines both cutting edge and classic style for multi-textured hair.
          %p We specialize in creating customized looks that make a statement before you do. Because diversity is breath taking we welcome all textures of hair.
          %h2 Hair Extension Services
          %p Do you want to give your hair a break from heat styling or maybe add a bit more luxury to your length? Let out extension specialist customize your extensions experience.
          %h2 Hair Straightening Services
          %p Whatever texture you want, we can create it. Straightening services are performed with the understanding that healthy, shiny, manageable hair is always the goal.
          %h2 Cutting Edge Hair Cuts
          %p A great haircut is more than a sharp shape. Our stylists design customized precision cuts to work with your facial shape and professional image. They also work with your own hair or your hair extensions so that the two blend seamlessly.
          %h2 Color Services
          %p Our full service Color Bar gives our guests countless option to create their own custom color palette. Because seriously… do you want your color to look like everybody else's?
          %h2 Lace Wigs Applications
          %p Our stylists regularly receive advanced training and update their skills in working with all hair types and textures. If you’re ready to discover your style or take it to the next level, then call us today and schedule an appointment – 832-628-7739 (or) 832-582-7321.

  .content-container#page2
    #page-2-content
      .page-title our Products
      %ul.submenu
        %li.white#page2-sub1
          %a{:href => "#"} Virgin Indian
        %li.red#page2-sub2
          %a{:href => "#"} Brazilian
        %li.brown#page2-sub4
          %a{:href => "#"} Bohemian
        %li.yellow#page2-sub5
          %a{:href => "#"} Russian
      .content-type-1#page2-sub1-page
        .content-type-1-part-1
          %h2 Sassy Straight
          .gallery
            %a{:href => "/images/pic/hairIndianStraight-big.jpg", :rel => "lightbox[product-indian]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/hairIndianStraight.jpg"}
          %p Straight hair is beautiful, soft, and smooth. Our naturally straight Virgin Indian hair has a slight wave pattern, typically found in natural hair. Indian straight hair can be easily curled for soft, bouncy curls as well as flat ironed quickly for an ultra sleek look. When the hair is wet it waves up. The hair will always revert back to its original straight texture, even after months of use.
          %ul
            %li Weight: Approximately 4 oz
            %li Color: Natural Black (1b) & Dark Brown (2)
            %li Weft: Machine Weft
            %li Styling: 2 bundles needed for a full weave depending on the fullness desired. For hair 22' and longer 3 bundles are needed for a full weave.         
            %li Due to the nature of this product, all sales are final
          %p 
            %b Color Disclaimer:
          %p Since we only supply unprocessed virgin hair it comes in natural shades of 1B (Natural Black) and 2 (Darkest Brown). If you choose to color your hair, it takes hold permanent, semi-permanent, lift, and cellophane beautifully! (It is recommended to have this done by a professional stylist)
          %h2 Wild 'n' Wavy
          .gallery
            %a{:href => "/images/pic/hairIndianWavy-big.jpg", :rel => "lightbox[product-indian]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/hairIndianWavy.jpg"}
          %h2 Crazy Curly
          .gallery
            %a{:href => "/images/pic/hairIndianCurly-big.jpg", :rel => "lightbox[product-indian]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/hairIndianCurly.jpg"}
        .content-type-1-part-2

      .content-type-1#page2-sub2-page
        .content-type-1-part-1
          %h1 Brazilian Hair
          %p Creme de la Creme Brazilian Hair is the definition of luster, body, and sheen! This gorgeous, healthy and natural hair is simply sleek, manageable, and soft to the touch with a healthy shine.
          %p Creme de la Creme Brazilian Hair is strong hair that is naturally straight, wavy or curly. The waviness can be easily turned into curly with proper styling. It is excellent for people with African American Ancestry, as it looks very natural, yet manageable.
          %p Creme de-la Creme Hair has the following types of Brazilian Remy Hair:
          
          %h2 Sleek & Straight
          .gallery
            %a{:href => "/images/pic/hairBrazilianSleek-big.jpg", :rel => "lightbox[product-brazilian]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/hairBrazilianSleek.jpg"}
          %p Gorgeous Brazilian Hair slightly processed to achieve this fabulous sleek texture. It can be curled by using a curling iron and when Setting Lotions is applied with hair rollers of any size chosen, bouncy curls are created. When the hair is wet it turns slightly wavy.
          %ul
            %li Weight: 4 oz.
            %li Color: Black (#1) and Blonde (#27)
            %li Weft: Machine Weft
            %li Styling: 2 bundles are recommended for a full weave for hair less than 22”. This will ensure you have enough hair rather than not enough. For hair longer that 22'' you may need a third bundle to achieve the look you are looking for. The hair will be longer but the width of the track will be shorter. I If you do not use all the hair you can use the remaining for your next install or touch up.
            %li Life span: This hair will last up to 6 months with proper care and maintenance.
            
          %h2 Bodacious Bodywave
          .gallery
            %a{:href => "/images/pic/hairBrazilianWave-big.jpg", :rel => "lightbox[product-brazilian]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/hairBrazilianWave.jpg"}
          %p Gorgeous Brazilian Hair, slightly processed to achieve this beautiful classic body wave texture. This hair is full of body, and has the dreamy "S" type wave that gives body and vitality to your hairstyle. You'll love how these waves look and feel. This is Brazilian hair that is steam permed to artificially create the lovely curl pattern you see. The steaming process is completely chemical free, water is used to steam the hair into shape. The texture may not be as flexible as virgin hair, meaning the hair may not revert back to a natural wavy pattern after an extended period of use. 
          %ul
            %li Weight: 4 oz.
            %li Color: Black (#1) and Dark Brown (#2)
            %li Weft: Machine Weft
            %li Styling: 2 bundles are recommended for a full weave for hair less than 22''. This will ensure you have enough hair rather than not enough. For hair longer that 22'' you may need a third bundle to achieve the look you are looking for. The hair will be longer but the width of the track will be shorter. I If you do not use all the hair you can use the remaining for your next install or touch up.
            %li Life span: This hair will last up to 6 months with proper care and maintenance.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub3-page
        .content-type-1-part-1
          %h1 Malaysian Hair
          %h2 Silky Straight
          %h2 Water Wave
          %h2 Candy Curly
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub4-page
        .content-type-1-part-1
          %h1 Bohemian Hair
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub5-page
        .content-type-1-part-1
          %h1 Russian Hair
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page3
    #page-3-content
      .page-title SALON
      %ul.submenu
        %li.white#page3-sub1
          %a{:href => "#"} Services
        %li.red#page3-sub2
          %a{:href => "#"} Our Stylists
        %li.pink#page3-sub3
          %a{:href => "#"} Make Up
      .content-type-1#page3-sub1-page
        .content-type-1-part-1
          %h1 Salon Services
          %h2 Are you ready to spoil your alter ego? 
          %p Prepare to make your friends jealous with your new traffic stopping style. Our salon combines both cutting edge and classic style for multi-textured hair. 
          %p We specialize in creating customized looks that make a statement before you do. Because diversity is breath taking we welcome all textures of hair.
          %h2 Hair Extension service
          %p Do you want to give your hair a break from heat styling or maybe add a bit more luxury to your length? Let out extension specialist customize your extensions experience.
          %p Hair Extension services include:
          %ul
            %li Full and Partial Hair Installations
            %li Innovative Fusions
            %li Seamless Hair
            %li Micro Beading
            %li Hair Bounding
          %h2 Hair Straightening Services
          %p Whatever texture you want, we can create it. Straightening services are performed with the understanding that healthy, shiny, manageable hair is always the goal.
          %p Hair Straightening services include:
          %ul
            %li Relaxer
            %li Chemical Straightening (Brazilian Blowout & Keratin Complex)
            %li Chemical Texturizing
          %h2 Cutting Edge Hair Cuts
          %p A great hair cut is more than a sharp shape. Our stylists design customized precision cuts to work with your facial shape and professional image. They also work with your own hair or your hair extensions so that the two blend seamlessly. 
          %h2 Color Service
          %p Our full service Color Bar gives our guests countless option to create their own custom color palette. Because seriously… do you want your color to look like everybody else’s?
          %p Color services include:
          %ul
            %li Single Process Color
            %li Highlights
            %li Fashion Color(blues, greens and any color of the rainbow)
          %h2 Lace Wig Application
          %p
            %b Braid
          %ul
            %li Box Braids
            %li Invisible Braid
            %li Micro Braids
          %p
            %b Twists
          %ul
            %li Kinky Twists
            %li Senegalese Twists
          %p Our stylists regularly receive advanced training and update their skills in working with all hair types and textures. If you’re ready to discover your style or take it to the next level, then call us today  and schedule an appointment – 832-628-7739 (or) 832-582-7321.


        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page3-sub2-page
        .content-type-1-part-1
          %h1 Our Stylists
          %h2 Ursilla Thomas
          .gallery
            %a{:href => "/images/pic/ursilla/ursilla-big.jpg", :rel => "lightbox[ursilla]", :title => "Ursilla"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/ursilla/ursilla.jpg"}
          .gallery
            %a{:href => "/images/pic/ursilla/1-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/1.jpg"}
            %a{:href => "/images/pic/ursilla/2-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/2.jpg"}
            %a{:href => "/images/pic/ursilla/3-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/3.jpg"}  
            %a{:href => "/images/pic/ursilla/4-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/4.jpg"}
            %a{:href => "/images/pic/ursilla/5-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/5.jpg"}
            %a{:href => "/images/pic/ursilla/6-big.jpg", :rel => "lightbox[ursilla]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/ursilla/6.jpg"}  
          %br
          %h2 Christie L
          .gallery
            %a{:href => "/images/pic/christie/christy_big.jpg", :rel => "lightbox[christie]", :title => "Ursilla"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/christie/christy.jpg"}
          .gallery
            %a{:href => "/images/pic/christie/1-big.jpg", :rel => "lightbox[christie]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/christie/1.jpg"}
            %a{:href => "/images/pic/christie/2-big.jpg", :rel => "lightbox[christie]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/christie/2.jpg"}
            %a{:href => "/images/pic/christie/3-big.jpg", :rel => "lightbox[christie]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/christie/3.jpg"}  
            %a{:href => "/images/pic/christie/4-big.jpg", :rel => "lightbox[christie]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/christie/4.jpg"}
            %a{:href => "/images/pic/christie/5-big.jpg", :rel => "lightbox[christie]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/christie/5.jpg"}

        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page3-sub3-page
        .content-type-1-part-1
          %h1 Make Up Services
          .gallery
            %a{:href => "/images/pic/makeUp/brandy_big.jpg", :rel => "lightbox"}
              %image{:width => "300px", :height => "75px", :src => "/images/pic/makeUp/brandy.jpg"}
          %h2 Simply Flawless By Brandi Holmes 
          %p Offering services from Brandi Holmes Professional Make Up Artist who specializes in providing a flawless stunning look. You will feel like a Hollywood Star after one make over with her. Be careful she is addictive and she is the best!!!
          %ul
            %li Make up Application				$ 85
            %li Bridal Application				$ 165
            %li Lessons						        $ 250
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800

  .content-container#page4
    #page-4-content
      .page-title Gallery
      %ul.submenu
        %li.white#page4-sub1
          %a{:href => "#"} Fall 2010
        %li.red#page4-sub2
          %a{:href => "#"} Spring 2011
        %li.pink#page4-sub3
          %a{:href => "#"} Happy Customers
      .content-type-1#page4-sub1-page
        .content-type-1-part-1
          %h1 Fall 2010
          %h2 Virgin Indian Hair Sassy Straight
          .gallery
            %a{:href => "/images/pic/fall2010/indianStraight/1-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianStraight/1.jpg"}
            %a{:href => "/images/pic/fall2010/indianStraight/2-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianStraight/2.jpg"}
            %a{:href => "/images/pic/fall2010/indianStraight/5-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianStraight/5.jpg"}
            %a{:href => "/images/pic/fall2010/indianStraight/7-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianStraight/7.jpg"}
            %a{:href => "/images/pic/fall2010/indianStraight/8-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Sassy Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianStraight/8.jpg"}
          %h2 Virgin Indian Wild 'n' Wavy Hair
          .gallery
            %a{:href => "/images/pic/fall2010/indianWavy/1-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianWavy/1.jpg"}
            %a{:href => "/images/pic/fall2010/indianWavy/2-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianWavy/2.jpg"}
            %a{:href => "/images/pic/fall2010/indianWavy/3-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianWavy/3.jpg"}  
            %a{:href => "/images/pic/fall2010/indianWavy/4-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianWavy/4.jpg"}
            %a{:href => "/images/pic/fall2010/indianWavy/5-big.jpg", :rel => "lightbox[fall2010]", :title => "Virgin Indian Wild 'n' Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/indianWavy/5.jpg"}
          %h2 Brazilian Sleek & Straight Hair
          .gallery
            %a{:href => "/images/pic/fall2010/brazilianSleek/1-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianSleek/1.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianSleek/2-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianSleek/2.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianSleek/3-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianSleek/3.jpg"}  
            %a{:href => "/images/pic/fall2010/brazilianSleek/4-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianSleek/4.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianSleek/5-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Sleek & Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianSleek/5.jpg"}
          %h2 Brazilian Bodywave
          .gallery
            %a{:href => "/images/pic/fall2010/brazilianWavy/1-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianWavy/1.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianWavy/2-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianWavy/2.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianWavy/3-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianWavy/3.jpg"}  
            %a{:href => "/images/pic/fall2010/brazilianWavy/4-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianWavy/4.jpg"}
            %a{:href => "/images/pic/fall2010/brazilianWavy/5-big.jpg", :rel => "lightbox[fall2010]", :title => "Brazilian Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/fall2010/brazilianWavy/5.jpg"}
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page4-sub2-page
        .content-type-1-part-1
          %h1 Spring 2011
          %h2 Virgin Indian Sassy Straight
          .gallery
            %a{:href => "/images/pic/spring2011/indianStraight/1-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianStraight/1.jpg"}
            %a{:href => "/images/pic/spring2011/indianStraight/2-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianStraight/2.jpg"}
            %a{:href => "/images/pic/spring2011/indianStraight/5-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianStraight/5.jpg"}
            %a{:href => "/images/pic/spring2011/indianStraight/7-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianStraight/7.jpg"}
            %a{:href => "/images/pic/spring2011/indianStraight/8-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Straight"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianStraight/8.jpg"}
          %h2 Virgin Indian Wild'n Wavy
          .gallery
            %a{:href => "/images/pic/spring2011/indianWavy/1-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Wild'n Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianWavy/1.jpg"}
            %a{:href => "/images/pic/spring2011/indianWavy/2-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Wild'n Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianWavy/2.jpg"}
            %a{:href => "/images/pic/spring2011/indianWavy/3-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Wild'n Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianWavy/3.jpg"}  
            %a{:href => "/images/pic/spring2011/indianWavy/4-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Wild'n Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianWavy/4.jpg"}
            %a{:href => "/images/pic/spring2011/indianWavy/5-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Wild'n Wavy"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianWavy/5.jpg"}
          %h2 Virgin Indian Crazy Curly
          .gallery
            %a{:href => "/images/pic/spring2011/indianCurly/1-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianCurly/1.jpg"}
            %a{:href => "/images/pic/spring2011/indianCurly/2-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianCurly/2.jpg"}
            %a{:href => "/images/pic/spring2011/indianCurly/3-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianCurly/3.jpg"}  
            %a{:href => "/images/pic/spring2011/indianCurly/4-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianCurly/4.jpg"}
            %a{:href => "/images/pic/spring2011/indianCurly/5-big.jpg", :rel => "lightbox[spring2011]", :title => "Virgin Indian Crazy Curly"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/indianCurly/5.jpg"}
          %h2 Brazilian Bodacious Bodywave
          .gallery
            %a{:href => "/images/pic/spring2011/brazilianWavy/1-big.jpg", :rel => "lightbox[spring2011]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/brazilianWavy/1.jpg"}
            %a{:href => "/images/pic/spring2011/brazilianWavy/2-big.jpg", :rel => "lightbox[spring2011]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/brazilianWavy/2.jpg"}
            %a{:href => "/images/pic/spring2011/brazilianWavy/3-big.jpg", :rel => "lightbox[spring2011]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/brazilianWavy/3.jpg"}  
            %a{:href => "/images/pic/spring2011/brazilianWavy/4-big.jpg", :rel => "lightbox[spring2011]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/brazilianWavy/4.jpg"}
            %a{:href => "/images/pic/spring2011/brazilianWavy/5-big.jpg", :rel => "lightbox[spring2011]", :title => "Brazilian Bodacious Bodywave"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/spring2011/brazilianWavy/5.jpg"}
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page4-sub3-page
        .content-type-1-part-1
          %h1 Happy Customers
          %h2 Virgin Indian Sassy Straight
          .gallery
            %a{:href => "/images/pic/customer/indianStraight/1-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/1.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/2-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/2.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/3-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/3.jpg"}  
            %a{:href => "/images/pic/customer/indianStraight/4-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/4.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/5-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/5.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/6-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/6.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/7-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/7.jpg"}
            %a{:href => "/images/pic/customer/indianStraight/8-big.jpg", :rel => "lightbox[happyCustomer]"}
              %image{:width => "75px", :height => "75px", :src => "/images/pic/customer/indianStraight/8.jpg"}
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page5
    #page-5-content-bg
    #page-5-content
      .page-title F.A.Q
      %ul.submenu
        %li.white#page5-sub1
          %a{:href => "#"} Indian Hair
        %li.red#page5-sub2
          %a{:href => "#"} Hair Extension
        %li.pink#page5-sub3
          %a{:href => "#"} Hair Maintenance
      .content-type-1#page5-sub1-page
        .content-type-1-part-1
          %h1 Virgin Indian Hair
          .gallery{:style => "margin-left: 50px;"}
            %a{:href => "/images/pic/place/indian_hair_1_big.jpg", :rel => "lightbox"}
              %image{:width => "100px", :height => "100px", :src => "/images/pic/place/indian_hair_1.jpg"}
            %a{:href => "/images/pic/place/indian_hair_2_big.jpg", :rel => "lightbox"}
              %image{:width => "100px", :height => "100px", :src => "/images/pic/place/indian_hair_2.jpg"}
          %p Virgin Indian Hair is one of the most beautiful, rarest, and most expensive hair your money can buy. It is highly regarded in the hair industry because of its flexibility, durability, and texture. Indian hair is naturally thick and lustrous. The natural variation, strength, and beauty of Indian hair make it the preferred choice for celebrities, stylists, and women of all ethnicities. It is simply the best quality hair extensions on the market.
          %p At Creme de-la Creme Hair our Virgin Indian Remy Hair comes from the temples in India where women shave their hair for religious reasons. Since the majorities of Indian women do not color, process, or chemically alter their hair, virgin Indian hair is the most natural luxurious hair extension type available. Our South Indian supplier has over thirty-five years of experience in manufacturing and supplying the finest human hair products, containing pure, untreated human hair from Indian donors.
          %p Creme de-la Creme Virgin Indian Hair is strong hair that is naturally straight, wavy or curly. The waviness can be easily turned into curly with proper styling. It comes in natural colors of dark brown (#2) or natural black (#1b). The hair can be relaxed, permed, and colored. Our lengths range from 12''-26''.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page5-sub2-page
        .content-type-1-part-1
          %h1 Hair Extension Length Tips:
          %ul
            %li When choosing hair please keep in mind that Virgin Single Drawn hair is left completely natural at the ends. It may be a good idea to select a slightly longer length because some trimming may be needed.
            %li Straight Virgin hair is true to its’ length. However, wavy and curly hair is usually 1.5" shorter when the hair is worn wavy or curly. Therefore, we often suggest customers to purchase hair 2" longer if they desire a wavy or curly hair look.
          .gallery
            %a{:href => "/images/pic/place/length_chart_big.jpg", :rel => "lightbox"}
              %image{:width => "330px", :height => "153px", :src => "/images/pic/place/length_chart.jpg"}
              
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page5-sub3-page
        .content-type-1-part-1
          %h1 Hair Maintance
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
            
  .content-container#page6
    #page-6-content-bg
    #page-6-content
      .page-title Contact
      %ul.submenu
        %li.white#page6-sub1
          %a{:href => "#"} Contact
        %li.red#page6-sub2
          %a{:href => "#"} Handling Policy
        %li.pink#page6-sub3
          %a{:href => "#"} Exchange Policy
      .content-type-1#page6-sub1-page
        .content-type-1-part-1
          %h2 Customer Service Hours
          %p Monday - Saturday: 9am - 9am CST 
          %ul
            %li 
              %b Phone: 
              832.628.7739 (or) 832.582.7321
            %li
              %b Fax:
              713.880-3050
          %h2 Hair Boutique Hours
          %p Monday-Friday: 10am - 8am CST
          %p Saturday: 12pm - 5pm
          %p Sunday: by appointment only
          %h2 Address
          %p 5959 Richmond Suite 210
          %p Houston, Texas 77057
          %h2 Emails
          %p Questions & Inquiries: info@cremedelacremehair.net
          %p Submit Testimonials & Photos: joi@crememdelacremehair.net
          %p Submitted photos will become property of Creme de la Creme Hair Company and may be displayed on the website.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page6-sub2-page
        .content-type-1-part-1
          %h1 Shipping and Handling Policy
          %h2 How to Purchase Our Hair
          %p We have four ways you can pay for our luxurious hair extensions:
          %ol
            %li Come into our hair boutique.
            %li Our online store, simply click on a product, add it to your cart, and go through checkout. We are a fully registered and authorized business. Our online store is open 24 hours a day, 7 days a week. 
            %li Credit cards over the phone, we accept Visa, Mastercard and  Discover. Feel free to ask questions before making your purchase. Call us at 832.628.7739 between 9am and 9pm CST.
            %li Paypal is highly recognized payment service, all you need is a credit card or checking account to start. For security purposes, all Paypal orders must be from a Verified Paypal Account.
          %h2 Payment Options
          %p Creme de la Creme Hair processes credit card transactions and accept the following forms of payment: Visa, Mastercard, and Discover
          %p 
            %span{:style => "font-size:11px;"}NOTE: Credit cards are charged upon order placement. If we are unable to fulfill our obligation to ship any order, we will refund the amount charged to the original credit card and notify you immediately.
          %h2 We Take Fraud Seriously
          %p We require that your shipping and billing addresses must match for your order to be approved. If your order has been declined due to an Address mismatch, please contact us to resolve the issue. If you have a special request for a different billing and shipping address, please call us at 832.628.7739 with additional forms of identification ready to provide to us. CREDIT CARD FRAUD AND THEFT OF OUR MERCAHNDISE WILL BE PROSECUTED TO THE FULLEST EXTENT OF THE LAW.
          %h2 Shipping Information
          %p Orders are shipped the same day as long as the placed by 5:00 pm CST. Creme de la Creme Hair uses UPS for all shipping at this time. We charge shipping and handling fees based on the total weight of your order and your address. The shipping and handling cost will be added to your order when you check out, and is calculated live by the UPS. You can get accurate estimates for UPS shipping costs during the checkout process. Shipping and handling rates subject to change at any time.
          %p
            %span{:style => "font-size:11px;"}UPS Delivery Confirmation is automatically included with every hair order over $100.
          %h2 Tracking Order
          %p You will receive an email with a UPS tracking number  after your items are shipped. If you do not receive a tracking number within 24 hours of placing your order please call Crème de la Crème Hair at 832.628.7739.
          %h2 Shipping Delays
          %p We are not responsible for late shipments due to holidays, natural disasters, or carrier delays. Please keep in mind that national holidays do not count as a business day and should not be considered when calculating shipping times.
          %h2 Failed Deliveries / Refused Shipments / Incorrect Shipping Address
          %p Your order will be shipped via UPS to the address you provide. Incomplete or incorrect address information are the major cause of shipment delays. Check the address information on your order. Make sure you have included ALL the information (address, apt#, etc.) needed to deliver your package. UPS and FedEx charges a service fee for address corrections. You will be charged for any additional fees caused by bad address information.
          %p 
            %span{:style => "font-size:11px;"} NO REFUNDS WILL BE ISSUED FOR REFUSED OR ABANDONED SHIPMENTS.
          %h2 Mistakes & Delays
          %p If there are mistakes and delays from our end, we will do our best to correct them. If we shipped the wrong item or something is missing, we will re-ship it at our expense using the same method of shipping. You must notify us of any incorrect or missing items within 7 days after receipt of your shipment. It is always wise to order far enough in advance to allow for unanticipated delays. 
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page6-sub3-page
        .content-type-1-part-1
          %h1 Exchange Policy
          %p We at Creme de la Creme Hair pride ourselves on our customer service and high rate of customer satisfaction. We offer a unique and flexible exchange policy within 14 days of purchase. We do this because we are confident in our product, and we ultimately want you to have the most pleasant hair experience possible. Help us help you so you can have the hair experience you deserve, just contact us if there's a problem, or if you have questions. We're here to help.
          %h2 Exchanges
          %ul
            %li We will only consider returns on hair extension products if the bbundle is unused and remains untied and hogties have not been cut.
            %li Exchanged packages must be accompanied by a copy of the Original invoice.
            %li Merchandise must be received before exchange can be granted.
            %li Shipping, handling and insurance costs will be at the customer's expense
          %p 
            %b Due to important federal laws and health regulations, we cannot accept the return of used hair. We highly encourage that you thoroughly inspect and examine the hair without opening the bundles to make sure you are satisfied with the product. Show it to your stylist if you are unsure. You may not wash, dye, curl, braid, spray, wear, or treat the hair in any way for us to consider an exchange.
          %h2 Follow these steps for an exchange:
          %ol
            %li All returns must be accompanied with an EMA number.
            %li Exchanges must have an EMA number created within 14 days from day of purchase.
            %li Contact us to receive your EMA number. We will ask you to pay all shipping and product balances before we ship your order.
            %li Package your products properly for shipping. It is also advised that you purchase shipping insurance to ensure safe delivery of your merchandise.
            %li Write your EMA number on the outside of your package.
            %li After we receive your package, allow up to 48 hours for your exchange to be processed.
          %h2 EMA numbers can assigned by phone or email
          %p Email: info@cremedelacremehair.net
          %p Phone: 832.628.7739  
          %h2 Send exchange products with your EMA # to:
          %p Creme de la Creme Hair, LLC.
          %p Returns Department
          %p 5959 Richmond
          %p Suite 210
          %p Houston, Texas 77057
          %p
            %b Exchanges must have an EMA created within 14 days of the original order. Exchanges will not be permitted after 14 days. Please allow 2 business days for your exchange to be processed.
          %h2 Important Federal Law
          %p Due to important federal laws and health regulations, we adhere to a strict policy with regards to the exchange of merchandise. All items sent to us for exchange will be inspected thoroughly. IF THE ITEM IS REMOVED FROM THE BUNDLE, HOGTIES CUT AND USED IN ANY VISIBLE MANNER, WE WILL NOT ACCEPT ANY EXCHANGES for the merchandise. This includes washing, dying, curling, braiding, spraying, wearing, etc. If such an item is returned to us, the item will be held for 10 days pending the product inspection and payment of shipping charges to have it exchanged.
              
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page7
    #page-7-content-bg
    #page-7-content
      .page-title About us
      %ul.submenu
        %li.white#page7-sub1
          %a{:href => "#"} Hair Bontique
        %li.red#page7-sub2
          %a{:href => "#"} Hair Salon
      .content-type-1#page7-sub1-page
        .content-type-1-part-1
          %h2 Address
          %p 5959 Richmond Suite 210 Houston, Texas 77057
          %h2 Emails
          %p Questions & Inquiries: info@cremedelacremehair.net
          %p Submit Testimonials & Photos: joi@crememdelacremehair.net
          %p Submitted photos will become property of Crème de la Crème Hair Company and may be displayed on the website.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page7-sub2-page
        .content-type-1-part-1
          %h1 Shipping and Handling Policy
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page8
    #page-8-content-bg
    #page-8-content
      .page-title Distributors
      .content-type-1#page8-sub1-page
        .content-type-1-part-1
          %h2 Wholesale Pricing
          %p We offer competitive discounted wholesale pricing available for licensed hairdressers. Initial order must be 8 bundles of hair. You must provide us with a valid business license for wholesale orders by faxing a copy of your cosmetology license to 713.880.3050.
          %p Please be sure to include mailing address, email address and contact phone number. When visiting our hair boutique for the first time, we encourage hairdressers to bring a copy of their license to receive additional savings. This solution is great for hair stylists or people wishing to resell quality Indian human hair in larger quantities.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .upper-footer
    All contents &copy; copyright 2010 - 2011  Creme da Creme. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  //footer
  // .footer-right
  //   %form#form1{:action => "", :method => "post", :name => "form1"}
  //     Sign up for our newsletter    |      Name:
  //     %input{:name => "text", :type => "text"}
  //     Email:
  //     %input{:name => "text", :type => "text"}
  //     %input{:name => "submit", :type => "button", :value => "Submit"}
  // .footer-left
  //   Powered by: media3creative.com
