- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/lightbox.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    //%script{:type => "text/javascript", :src => "javascripts/respond.min.js"}
    //%script{:type => "text/javascript", :src => "javascripts/application.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
  .logo
  .menu-container
    %ul.menu
      %li
        %a{:href => "#", :id => "main-1-link"} ABOUT
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} PRODUCTS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} SERVICES
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} WHOLESALE
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} CONTACT
        .menu-hl
  .content-container#page1
    #page-1-content-bg
    #page-1-content
      .page-title About
      %ul.submenu
        %li.white#sub-1-link
          %a{:href => "#"} our Identity
        %li.red#sub-2-link 
          %a{:href => "#"} our Customers
        %li.pink#sub-3-link
          %a{:href => "#"} our Mission
      .content-type-1#page1-sub1
        .content-type-1-part-1
          %h1 Who we are
          %h2 Dedicated to beauty
          %p Creme de-la Creme Hair is an upscale hair boutique that was established to offer only the very best in exotic human hair extensions to customers around the world that want and deserve the very best hair that money can buy. We import the most lustrous, pure, 100% cuticle, virgin remy hair directly from India, Brazil, Malaysia and Europe for re-sell in the United States.
          %p Creme de la Creme Hair has gained a reputation for a superior product and when you use our hair you will immediately recognize the difference. So rest assured that when you make a purchase from Creme de la Creme Hair you are getting the best hair that money can buy. For the most elite hair on the market… Creme de la Creme Hair!
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
      .content-type-1#page1-sub2
        .content-type-1-part-1
          %h1 our Customers
          %h2 is our priority
          %p Creme de-la Creme Hair customers come from all walks of life. Some are models, housewives, single moms, cancer survivors, business women, college students, singers, and actors. Additionally, our customers are of all ethnicities. We also supply hair to professional hair stylists and salons all over the country. Our clients are very satisfied with our product and services, and we are sure that you will be as well.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
      .content-type-1#page1-sub3
        .content-type-1-part-1
          %h1 our Missions
          %h2 it is all about you
          %p Our goal is to ensure that you are 100% satisfied with the excellent quality hair at unbeatable prices along with outstanding customer service. We value your business and look forward to establishing a long lasting relationship. For the most elite hair on the market.Creme de-la Creme Hair!
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
  .content-container#page2
    #page-2-content
      .page-title our Products
      %ul.submenu
        %li.white#sub-1-link
          %a{:href => "#"} Indian
        %li.red#sub-2-link 
          %a{:href => "#"} Brazilian
        %li.pink#sub-3-link
          %a{:href => "#"} Malysian
        %li.brown#sub-4-link
          %a{:href => "#"} Bohemian
        %li.yellow#sub-5-link
          %a{:href => "#"} European
      .content-type-1#page2-sub1
        .content-type-1-part-1
          %h1 Shampoo
          %h2 July 21st, 2011
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 July 21st, 2011
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
  .content-container#page3
    #page-3-content
      .page-title Services
      .content-type-1#page3-sub1
        .content-type-1-part-1
          %h1 Make over
          %h2 July 21st, 2011
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 July 21st, 2011
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
  .content-container#page4
    #page-4-content
      %ul.submenu
        %li.white#sub-1-link
          %a{:href => "#"} Our Models
        %li.red#sub-2-link 
          %a{:href => "#"} Styles
        %li.pink#sub-3-link
          %a{:href => "#"} Visions
      .content-type-1#page1-sub1
        .content-type-1-part-1
          %h1 our Models
          %h2 July 21st, 2011
          %img{:height => "219", :width => "467", :src => "/images/gallery_content.png"}
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
  .content-container#page5
    #page-5-content-bg
    #page-5-content
      .page-title Contacts
      .content-type-1#page5-sub1
        .content-type-1-part-1
          %h1 Info
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b blue 
            | $1800
  .content-container#page6
    .content-text#page-6-content
  .upper-footer
    All contents &copy; copyright 2010 - 2011  Stylitza Designs, Inc. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  .footer
    .footer-right
      %form#form1{:action => "", :method => "post", :name => "form1"}
        Sign up for our newsletter    |      Name:
        %input{:name => "text", :type => "text"}
        Email:
        %input{:name => "text", :type => "text"}
        %input{:name => "submit", :type => "button", :value => "Submit"}
    .footer-left
      Powered by: media3creative.com
