- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/lightbox.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    / BEGIN FOXYCART FILES
    %link{:charset => "utf-8", :href => "http://static.foxycart.com/scripts/colorbox/1.3.16/style1_fc/colorbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:charset => "utf-8", :src => "http://cdn.foxycart.com/creme/foxycart.complete.3.js", :type => "text/javascript"}
    / END FOXYCART FILES

  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
  .logo
  .menu-container
    %ul.menu
      %li
        %a{:href => "#", :id => "main-1-link"} ABOUT
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} PRODUCTS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} SALON
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} FAQ
        .menu-hl
      %li
        %a{:href => "#", :id => "main-7-link"} ABOUT US
        .menu-hl
      %li
        %a{:href => "#", :id => "main-6-link"} CONTACT
        .menu-hl
      %li
        %a{:href => "#", :id => "main-8-link"} REFERRAL
        .menu-hl
  .content-container#page1
    #page-1-content-bg
    #page-1-content
      .page-title Home
      .content-type-1#page1-sub1-page
        .content-type-1-part-1
          %h1 Who we are
          %h2 Dedicated to beauty
          %p Creme de-la Creme Hair is an upscale hair boutique that was established to offer only the very best in exotic human hair extensions to customers around the world that want and deserve the very best hair that money can buy. We import the most lustrous, pure, 100% cuticle, virgin remy hair directly from India, Brazil, Malaysia and Europe for re-sell in the United States.
          %p Creme de la Creme Hair has gained a reputation for a superior product and when you use our hair you will immediately recognize the difference. So rest assured that when you make a purchase from Creme de la Creme Hair you are getting the best hair that money can buy. For the most elite hair on the market… Creme de la Creme Hair!
  .content-container#page2
    #page-2-content
      .page-title our Products
      %ul.submenu
        %li.white#page2-sub1
          %a{:href => "#"} Indian
        %li.red#page2-sub2
          %a{:href => "#"} Brazilian
        %li.pink#page2-sub3
          %a{:href => "#"} Malysian
        %li.brown#page2-sub4
          %a{:href => "#"} Bohemian
        %li.yellow#page2-sub5
          %a{:href => "#"} European
      .content-type-1#page2-sub1-page
        .content-type-1-part-1
          %h1 Indian Hair
          %h2 Sassy Straight
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %h2 Wild 'n' Wavy
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %h2 Crazy Curly
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
          %a{:href => "#"}
            %image{:width => "50px", :height => "70px", :src => "/images/pic/thumb_sample.jpg"}
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub2-page
        .content-type-1-part-1
          %h1 Brazilian Hair
          %h2 Sleek & Straight
          %h2 Bodacious Bodywave
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub3-page
        .content-type-1-part-1
          %h1 Malaysian Hair
          %h2 Silky Straight
          %h2 Water Wave
          %h2 Candy Curly
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub4-page
        .content-type-1-part-1
          %h1 Bohemian Hair
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page2-sub5-page
        .content-type-1-part-1
          %h1 European Hair
          %h2 European Hair
          %h2 Russian Hair
          %h2 I-Tip Hair
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page3
    #page-3-content
      .page-title SALON
      %ul.submenu
        %li.white#page3-sub1
          %a{:href => "#"} Services
        %li.red#page3-sub2
          %a{:href => "#"} Our Stylists
        %li.pink#page3-sub3
          %a{:href => "#"} Make Up
      .content-type-1#page3-sub1-page
        .content-type-1-part-1
          %h1 Salon Services
          %h2 Are you ready to spoil your alter ego? 
          %p Prepare to make your friends jealous with your new traffic stopping style. Our salon combines both cutting edge and classic style for multi-textured hair. 
          %p We specialize in creating customized looks that make a statement before you do. Because diversity is breath taking we welcome all textures of hair.
          %h2 Hair Extension service
          %p Do you want to give your hair a break from heat styling or maybe add a bit more luxury to your length? Let out extension specialist customize your extensions experience.
          %p Hair Extension services include:
          %ul
            %li Full and Partial Hair Installations
            %li Innovative Fusions
            %li Seamless Hair
            %li Micro Beading
            %li Hair Bounding
          %h2 Hair Straightening Services
          %p Whatever texture you want, we can create it. Straightening services are performed with the understanding that healthy, shiny, manageable hair is always the goal.
          %p Hair Straightening services include:
          %ul
            %li Relaxer
            %li Chemical Straightening (Brazilian Blowout & Keratin Complex)
            %li Chemical Texturizing
          %h2 Cutting Edge Hair Cuts
          %p A great hair cut is more than a sharp shape. Our stylists design customized precision cuts to work with your facial shape and professional image. They also work with your own hair or your hair extensions so that the two blend seamlessly. 
          %h2 Color Service
          %p Our full service Color Bar gives our guests countless option to create their own custom color palette. Because seriously… do you want your color to look like everybody else’s?
          %p Color services include:
          %ul
            %li Single Process Color
            %li Highlights
            %li Fashion Color(blues, greens and any color of the rainbow)
          %h2 Lace Wig Application
          %p
            %b Braid
          %ul
            %li Box Braids
            %li Invisible Braid
            %li Micro Braids
          %p
            %b Twists
          %ul
            %li Kinky Twists
            %li Senegalese Twists
          %p Our stylists regularly receive advanced training and update their skills in working with all hair types and textures. If you’re ready to discover your style or take it to the next level, then call us today  and schedule an appointment – 832-628-7739 (or) 832-582-7321.


        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page3-sub2-page
        .content-type-1-part-1
          %h1 Our Stylists
          %h2 July 21st, 2011
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 July 21st, 2011
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page3-sub3-page
        .content-type-1-part-1
          %h1 Make Up Services
          %h2 July 21st, 2011
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 July 21st, 2011
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800

  .content-container#page4
    #page-4-content
      .page-title Gallery
      %ul.submenu
        %li.white#page4-sub1
          %a{:href => "#"} Fall 2010
        %li.red#page4-sub2
          %a{:href => "#"} Spring 2011
        %li.pink#page4-sub3
          %a{:href => "#"} Happy Customers
      .content-type-1#page4-sub1-page
        .content-type-1-part-1
          %h1 Fall 2010
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page4-sub2-page
        .content-type-1-part-1
          %h1 Spring 2010
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page4-sub3-page
        .content-type-1-part-1
          %h1 Happy Customers
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page5
    #page-5-content-bg
    #page-5-content
      .page-title F.A.Q
      %ul.submenu
        %li.white#page5-sub1
          %a{:href => "#"} Indian Hair
        %li.red#page5-sub2
          %a{:href => "#"} Hair Extension
        %li.pink#page5-sub3
          %a{:href => "#"} Hair Maintenance
      .content-type-1#page5-sub1-page
        .content-type-1-part-1
          %h1 Frequently Asked Questions
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page5-sub2-page
        .content-type-1-part-1
          %h1 Hair Extension Tips
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page5-sub3-page
        .content-type-1-part-1
          %h1 Hair Maintance
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
            
  .content-container#page6
    #page-6-content-bg
    #page-6-content
      .page-title Contact
      %ul.submenu
        %li.white#page6-sub1
          %a{:href => "#"} Contact
        %li.red#page6-sub2
          %a{:href => "#"} Handling Policy
        %li.pink#page6-sub3
          %a{:href => "#"} Exchange Policy
      .content-type-1#page6-sub1-page
        .content-type-1-part-1
          %h2 Customer Service Hours
          %p Monday - Saturday: 9am - 9am CST 
          %ul
            %li 
              %b Phone: 
              832.628.7739 (or) 832.582.7321
            %li
              %b Fax:
              713.880-3050
          %h2 Hair Boutique Hours
          %p Monday-Friday: 10am - 8am CST
          %p Saturday: 12pm - 5pm
          %p Sunday: by appointment only
          %h2 Address
          %p 5959 Richmond Suite 210
          %p Houston, Texas 77057
          %h2 Emails
          %p Questions & Inquiries: info@cremedelacremehair.net
          %p Submit Testimonials & Photos: joi@crememdelacremehair.net
          %p Submitted photos will become property of Creme de la Creme Hair Company and may be displayed on the website.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page6-sub2-page
        .content-type-1-part-1
          %h1 Shipping and Handling Policy
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page6-sub3-page
        .content-type-1-part-1
          %h1 Exchange Policy
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page7
    #page-7-content-bg
    #page-7-content
      .page-title About us
      %ul.submenu
        %li.white#page7-sub1
          %a{:href => "#"} Hair Bontique
        %li.red#page7-sub2
          %a{:href => "#"} Hair Salon
      .content-type-1#page7-sub1-page
        .content-type-1-part-1
          %h2 Address
          %p 5959 Richmond Suite 210 Houston, Texas 77057
          %h2 Emails
          %p Questions & Inquiries: info@cremedelacremehair.net
          %p Submit Testimonials & Photos: joi@crememdelacremehair.net
          %p Submitted photos will become property of Crème de la Crème Hair Company and may be displayed on the website.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
      .content-type-1#page7-sub2-page
        .content-type-1-part-1
          %h1 Shipping and Handling Policy
          %h2 Mailing
          %p Corporate identity has become an important tool for the promotion of corporate culture and companies. It is considered to be composed of the following parts:
          %h2 Maps
          %p Corporate design (logos, uniforms)
          %p Corporate communications (advertisements, public relations, information, commercials)
          %p Corporate behavior (internal values, norms)
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .content-container#page8
    #page-8-content-bg
    #page-8-content
      .page-title Referral Programs
      .content-type-1#page8-sub1-page
        .content-type-1-part-1
          %h2 Address
          %p 5959 Richmond Suite 210 Houston, Texas 77057
          %h2 Emails
          %p Questions & Inquiries: info@cremedelacremehair.net
          %p Submit Testimonials & Photos: joi@crememdelacremehair.net
          %p Submitted photos will become property of Crème de la Crème Hair Company and may be displayed on the website.
        .content-type-1-part-2
          %br
          %br
          %br
          %br
          %p.note
            %b corporate
            identity 
            %b pink 
            | $1800
  .upper-footer
    All contents &copy; copyright 2010 - 2011  Creme da Creme. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  //footer
  // .footer-right
  //   %form#form1{:action => "", :method => "post", :name => "form1"}
  //     Sign up for our newsletter    |      Name:
  //     %input{:name => "text", :type => "text"}
  //     Email:
  //     %input{:name => "text", :type => "text"}
  //     %input{:name => "submit", :type => "button", :value => "Submit"}
  // .footer-left
  //   Powered by: media3creative.com
