.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-box {
  margin-top: 0px;
  margin-left: 0px;
  width: 230px;
  height: 0px;
  background-color: #a5a49a;
  text-align: center;
}

.gallery {
  margin-left: 30px;
}

.logo {
  z-index: 11;
  background-image: url(/images/logo.png);
  position: absolute;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 250px;
  height: 70px;
}

img {
  border: 2px solid #dad7c5;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: white;
  overflow: hidden;
  display: none;
  overflow: scroll;
}

ul.menu {
  margin-top: 20px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  font-size: 12px;
  margin-left: 60px;
}

ul.menu li {
  display: inline-block;
  margin: 0px;
}

ul.menu a {
  color: #ef6aa1;
  text-shadow: 0px 1px 1px black;
  display: block;
  width: 80px;
  height: 25px;
  font-family: "Helvetica";
  font-size: 11px;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin-top: 10px;
}

ul.menu a:hover {
  color: black;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-image: url(/images/header_bg.png);
}

.upper-footer {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 160px;
  width: 180px;
  border-top-left-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  text-align: right;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-image: url(/images/header_bg.png);
}

.footer-left {
  position: relative;
  float: left;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-top: 10px;
}

.footer-right {
  display: inline;
  position: relative;
  float: right;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.content-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: -1400px;
  height: 100%;
  width: 1000px;
}

#page-1-content, #page-2-content, #page-3-content, #page-4-content, #page-5-content, #page-6-content, #page-7-content, #page-8-content {
  z-index: 100;
  position: relative;
  float: left;
  margin-top: 300px;
  width: 960px;
  height: auto;
}

.content-bg {
  position: absolute;
  top: -100px;
  width: 600px;
  height: 120%;
}

.menu-hl {
  margin-left: -20px;
  margin-top: -200px;
  z-index: -1;
  position: absolute;
  height: 140px;
  width: 120px;
  background-color: #ef6aa1;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.menu-container {
  z-index: 5;
  position: absolute;
  text-align: center;
  margin-left: 25%;
  top: 35px;
  height: 117px;
  width: 800px;
  background-image: url(/images/header_banner.png);
}

.page-title {
  position: relative;
  float: left;
  display: block;
  height: 70px;
  width: 350px;
  margin-top: -125px;
  background-color: #ef6aa1;
  color: white;
  font-family: "Verdana";
  font-size: 36px;
  padding-left: 60px;
  padding-top: 25px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

ul.submenu {
  position: relative;
  float: left;
  list-style-type: none;
  letter-spacing: 0.2em;
  text-align: left;
  font-size: 11px;
  font-family: "Verdana";
  margin-left: -50px;
  display: block;
  height: 27px;
  width: 950px;
  list-style-type: none;
  color: white;
}

ul.submenu li {
  display: inline-block;
  overflow: hidden;
  padding-top: 7px;
  margin-left: -30px;
  padding-right: 30px;
  width: 150px;
  height: 20px;
  text-align: right;
  border-radius: 40px;
}

ul.submenu li a {
  display: inline-block;
  width: 155px;
}

.content-type-1 {
  font-family: "Verdana";
  width: 1000px;
  height: auto;
  margin-left: 0px;
  float: left;
}

.content-type-1-part-1 {
  background-image: url(/images/trans_white.png);
  margin-top: 0px;
  float: left;
  width: 600px;
  border-right: 1px solid #ef6aa1;
}

.content-type-1-part-2 {
  float: left;
  width: 348px;
  height: auto;
}

.note {
  font-size: 13px;
  margin-left: 0px;
  padding: 10px;
  width: 300px;
  background-color: #ef6aa1;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.brown {
  background-color: #492114;
  z-index: 1;
}

.white {
  background-color: #e7e2d4;
  color: black;
  z-index: 4;
}

.red {
  background-color: #d35b64;
  z-index: 3;
}

.yellow {
  background-color: #e1af57;
  color: black;
  z-index: 2;
}

.black {
  background-color: black;
  color: #e7e2d4;
  z-index: 1;
}

.black-text {
  color: black;
}

.pink {
  background-color: #ef6aa1;
  color: black;
}

p {
  font-size: 12px;
  margin-right: 20px;
  color: white;
  margin-top: 10px;
  margin-left: 50px;
}

h1 {
  color: #ef6aa1;
  font-family: "Verdana";
  font-size: 24px;
  margin-left: 50px;
}

h2 {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 13px;
  font-style: oblique;
  color: #ef6aa1;
}

.contact-form {
  overflow: hidden;
}
.contact-form iframe {
  position: relative;
  top: -30px;
  margin-top: -30px;
}
